calibration_data/ir_1.png
calibration_data/ir_2.png
calibration_data/ir_3.png
calibration_data/ir_8.png
calibration_data/ir_9.png
calibration_data/ir_10.png
calibration_data/ir_11.png
calibration_data/ir_12.png
calibration_data/ir_13.png
calibration_data/ir_14.png
calibration_data/ir_15.png
calibration_data/ir_16.png
calibration_data/ir_17.png
calibration_data/ir_18.png
calibration_data/ir_19.png
calibration_data/ir_20.png
calibration_data/rgb_1.png
calibration_data/rgb_2.png
calibration_data/rgb_3.png
calibration_data/rgb_4.png
calibration_data/rgb_5.png
calibration_data/rgb_6.png
calibration_data/rgb_7.png
calibration_data/rgb_8.png
calibration_data/rgb_9.png
calibration_data/rgb_10.png
calibration_data/rgb_11.png
calibration_data/rgb_12.png
calibration_data/rgb_13.png
calibration_data/rgb_14.png
calibration_data/rgb_15.png
calibration_data/rgb_16.png
calibration_data/rgb_17.png
calibration_data/rgb_18.png
calibration_data/rgb_19.png
calibration_data/rgb_20.png
calibration_data/ir_5.png
calibration_data/ir_6.png
calibration_data/ir_7.png
calibration_data/ir_4.png
